{% extends 'base.html.twig' %}

{% block title %}Bienvenue dans nos hébergements
{% endblock %}

{% block body %}
	<div class="slider-container" style="width:100%">
		<div class="slide">
			<img src="/assets/images/sea-2105702_1280.jpg" alt="" class="slide-image">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum deserunt est praesentium eius, possimus in. 
																															Impedit laudantium earum nobis laboriosam sed qui itaque animi corporis quam maiores? Doloremque, ea earum?</p>
		</div>
	</div>

	<div class="jumbotron">
		<h1 class="display-4">Bienvenue aux appartements de Noam</h1>
		<p class="lead">Venez découvrir le paradis et profiez de nos appartements locatifs au nord de l'ile Maurice.</p>
		<hr class="my-4">
		<p>Vous serez submergée par l'emplacement et la beauté de l'ile.</p>
		<p class="lead">
			<a class="btn btn-secondary btn-lg" href={{ path('add_index') }} role=" button">Learn more"</a>
		</p>
	</div>
{% endblock %}
