{% extends 'base.html.twig' %}

{% block title %}Bienvenue dans nos hébergements
{% endblock %}

{% block body %}


	<div class="jumbotron">
		<h1 class="display-4">Bienvenue aux maisons de Marie</h1>
		<p class="lead">Dans le sud ouest de la france,en bordure du Périgord, à proximité de Bergerac, tout près du village médiéval Castillonnes.</p>
		<hr class="my-4">
		<p>
			je vous propose 4 maisons de charme du 18 ème siècle, aujourd’hui transformées en maisons de vacances hors du temps. Faites une échappée belle et venez profiter d’une des plus belles régions.</p>
		<p class="lead">
			<a class="btn btn-secondary btn-lg" href={{ path('add_index') }} role=" button">Voir les maisons
			</a>
		</p>
	</div>

	<div class="row">
		{% for add in add %}
			<div class="col-lg-4 col-md-4" ">
				{% include "add/_add.html.twig" %}
			</div>
		{% endfor %}
	</div>


{% endblock %}
