<h1>Bonjour, merci de confirmer votre email!</h1>

<p>
	Merci de confirmer votre email en cliquant sur le lien ci-dessous:
	<br><br>
	<a href="{{ signedUrl|raw }}">Confirm my Email</a>.
								    Le lien expire dans
	{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
	Si vous n'avez pas demandé cette confirmation, veuillez ignorer cet email
</p>
