<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="keywords" content=""/>
		<meta name="author" content="Emma VIGNERON">
		<meta name="description" content="Hebergement touristique">
		<title>
			{% block title %}Bienvenue sur notre site!
			{% endblock %}
		</title>
		<!--FONT AWESOME-->
		<!--FONT AWESOME-->
		<script src="https://kit.fontawesome.com/50d220494b.js" crossorigin="anonymous"></script>
		<link href="Assets/fontawesome-free-6.4.2-desktop">

		<link rel="icon" type="favicon" href="#"/>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<link rel="stylesheet" href="https://bootswatch.com/5/sandstone/bootstrap.min.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
			<link rel="stylesheet" href="public/assets/css/style.css">

		{% endblock %}

		{% block javascripts %}
			<script src="public/assets/js/bootstrap.bundle.min.js"></script>
		{% endblock %}
		{{ encore_entry_script_tags('app') }}
	</head>
	<body>
		{% if is_granted('ROLE_ADMIN') %}
			{% include 'shared/_navbar_admin.html.twig' %}
		{% else %}
			{% include 'shared/_navbar_client.html.twig' %}
		{% endif %}

		<div class="container pt-5">
			{% include "shared/_flash.html.twig" %}
			{% block body %}{% endblock %}
		</div>
	</body>
	{% include "shared/_footer.html.twig" %}
</html></body></html>
