<div class="fusion-secondary-header">
	<div class="fusion-row">
		<div class="fusion-alignleft">
			<div class="fusion-contact-info">
				<span class="fusion-contact-info-phone-number">
					<div class="top_header_elements">
						<span class="header-contact" style="font-size: 16px; color: white" ">Contactez nous au :</span>
						<a href="mailto:emma.vigneron@outlook.fr" class="header_email top_hdr_elmnt">
							<i class="fas fa-envelope mr5"></i>
							<span>emma.vigneron@outlook.fr</span>
						</a>
						<span class="blanc header_phone top_hdr_elmnt">
							<i class="fas fa-phone fa-rotate-90 mr5"></i>
							<a href="tel: 0635429311">06 35 42 93 11</a>

						</span>
					</div>
				</span>
			</div>
		</div>
	</div>
</div>
